* {
  box-sizing: border-box;
}

:root {
  --main-bg-color: rgb(163, 236, 179);
  --secondary-color: rgb(44, 35, 3);
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
  color: var(--main-bg-color);
  font-weight: bold;
  transition: color .1s;
}

a:hover {
  color: rgb(196, 243, 206);
}

button {
  background-color: #656769;
  border: 0;
  padding: 1%;
  color: var(--main-bg-color);
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #a1a1a1;
}

.post-list {
  margin: 0;
  padding: 0;
}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #656769;
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

form a {
  color:rgb(44, 35, 3);
}

.wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid #ccc;
  align-items: center;
  padding: 0 1%;
  background-color:var(--secondary-color);
  padding-left: 5em;
}

header h1 {
  background-color:var(--main-bg-color);
  width:5em;
  margin-left: 2em;
  border: 2px solid var(--main-bg-color);
  border-radius: 5px;
  box-shadow: 10px 5px rgb(196, 243, 206);
}

main {
  flex: 1;
  padding: 2% 4%;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--main-bg-color);
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
}

.btn-no-style:hover {
  background: none;
  color: rgb(196, 243, 206);
}

.delete-post-btn {
  background-color: #656769;
}

.delete-post-btn:hover {
  background-color: #a1a1a1;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  border: 2.5px solid var(--secondary-color);
}

.post .title {
  margin-top: 0%;
  color:var(--main-bg-color);
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
}

.post .title p {
  margin: 0;
  padding: 0;
}

.title h3 {
  margin-top: 0%;
  color:var(--main-bg-color);
  background-color: var(--secondary-color);
}

.edit-text {
  display: block;
  margin: -1.5% 0 2% 0;
  color: var(--secondary-color);
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 0%;
  margin-bottom: 0%;
  border: 2.5px solid var(--main-bg-color);
}

 .comment .post {
  display: flex;
}

.comment .text {
  margin-left: 1em;
}

.comment .post .title {
  color: var(--secondary-color);
  background-color: var(--main-bg-color);
  border-left: var(--secondary-color);
}


.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
}

.new-post-form input {
  width: 300px;
}

#post-text {
  width: 300px;
  height: 500px;
}

.edit-post-form {
  display: block;
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
}